* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(backgorund.jpg);
    background-size: cover;
    color: snow;
}

.title-form {
    font-weight: bolder;
    font-size: 50px;
    color: black;
    padding-bottom: 3rem;
    font-size: 3rem;
    opacity: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem; 
    background-color: blueviolet ;
    border-radius: 25px;
    opacity: .8;
}

.text-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
    background-color: silver;
    border-radius: 10px;
}

.text-item {
    margin: 10px;
}

.text-item > input{
    border: none;
    border-radius: 25px;
    text-align: center;
    height: 25px;
    color:navy;
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text-submit > input {
    padding: 10px 5px 10px 5px;
    width: 100px;
    background-color: snow;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 20px;
}

.text-submit > input:hover, .text-item > input:hover {
    background-color: cornflowerblue;
}

.text-submit > input:hover {
    width: 120px;
}

.text-item > .error {
    margin-top: 5px;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    background-color: yellow;
    color:red;
}

.welcome-body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.hello, .hello > a {
    margin-top: 50px;
    padding: 40px;
    display: inline-block;
    text-align: center;
    font-size: xx-large;
    border-radius: 50px;
    max-width: 550px;
    max-height: 400px;
    background-color:indigo;
    color:snow;
}